/**
* @file
* One Time Pop-ups CSS
* 
* @authors
* Vicente Gardner (vgardner) <http://vgardner.co.uk>
*/
div#onetimepopups-window .jqmClose em{display:none;}
div#onetimepopups-window .jqmClose {
  width:20px;
  height:20px;
  display:block;
  float:right;
  clear:right;
  background:transparent url(../images/close_button.png) 0 0 no-repeat;
}

div#onetimepopups-window a.jqmClose:hover{ background-position: 0 -20px; }

div#onetimepopups-window.jqmWindow {
  width:auto;
  max-width:500px;
}

/* notepad theme 1 */
div#onetimepopups-window.jqmWindow.popup-theme-1 {
  max-width:500px;
  background:#FFFFCC url(../images/note_icon.png) 5px 5px no-repeat;
  border: 1px solid #000;
  padding: 10px;
}
div#onetimepopups-window.jqmWindow.popup-theme-1 .jqmClose {
  background:transparent url(../images/close_icon.png) 0 0 no-repeat;
}

div#onetimepopups-window.jqmWindow.popup-theme-1 .jqmContent{
  border-top:1px;
  color:#000;
  padding:0 20px 5px;
}

/* dark theme 2 */
div#onetimepopups-window.jqmWindow.popup-theme-2 {
  max-width:500px;
  padding: 0 10px 10px;

  background:#111;
  border:1px dotted #FFF;
}
div#onetimepopups-window.jqmWindow.popup-theme-2 .jqmClose {
  margin-top:2px;
  background:transparent url(../images/close_icon_double_dark.png) 0 0 no-repeat;
}

div#onetimepopups-window.jqmWindow.popup-theme-2 a.jqmClose:hover{ background-position: 0 -20px; }

div#onetimepopups-window.jqmWindow.popup-theme-2 .jqmContent{
  border-top:px;
  color:#FFF;
  font:11px/14pt arial;
  padding:5px 20px 5px;
  margin:5px;
  border:1px dotted #111;
  letter-spacing:0px;
  background:#111 url(../images/darkgrid.png);
}